<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
<body>
    
    <h1 style="padding-top: 130px;">WELCOME TO GUESS MANIA</h1>

    <div class="header">
        <a class="login" href="http://localhost:8080/login">LOGIN</a>
        <a class="signup" href="http://localhost:8080/signup">SIGN UP</a>
    </div>

</body>
</html>